@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";


body { font-family: 'Roboto', sans-serif; font-weight: 400; }
* { outline: 0; }
img { max-width: 100%; }

main { margin-bottom: 50px; }

.btn, .form-control, .custom-radio.rounded span:before, .custom-radio.rounded span:after, .custom-radio.square span:before, .custom-radio.square span:after, .custom-switch .slider, .custom-switch .slider:before, .tile-btn { transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; }

#MainDiv { padding: 0 16px 16px; max-width: 650px; margin: 35px auto; box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1); overflow: auto ;border-radius: 22px;    min-height: 300px;}
.modal-open #MainDiv, .modal-open main { filter: blur(5px); }
.styleguide-icon-btn { display: flex; }
.styleguide-icon-btn .btn + .btn { margin-left: 5px; }
.purple-bg { background-color: #7C5B8C; padding: 16px; margin: 0 -16px; }


/* Main title */
.page-title { margin: 0 -16px 77px; padding: 30px 16px 50px 16px; color: #fff; display: flex; align-items: flex-start; position: relative; z-index: 1; overflow: hidden; }
.page-title:before { content: ''; width: 130%; height: 125%; background: #5F60A9; background: linear-gradient(90.19deg, #532C6D 0.04%, #64407B 99.95%); border-radius: 50%; position: absolute; left: -15%; right: 0; bottom: 0; z-index: -1; }
.page-title.lg { padding: 37px 23px 34px; margin-bottom: 51px; }
.page-title.lg:before { width: 140%; left: -20%; }
.page-title .go-back { background: transparent; border: 0; padding: 0; cursor: pointer; outline: 0; padding: 3px 0; margin-right: 14px; }
.page-title .go-back:hover { opacity: 0.7; }
.page-title h1 { margin: 0; font-size: 28px; line-height: 34px; font-family: 'Poppins', sans-serif; font-weight: 600; }
.page-title p { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 20px; line-height: 24px; margin: 0; }


.form-group { margin-bottom: 30px; }
.form-group label { font-size: 16px; line-height: 20px; margin-bottom: 0; display: flex; justify-content: space-between; color: #000; }
.form-group.custom-radio-wrapper label { margin-bottom: 8px; }
.form-group label .optional { opacity: 0.5; }


/* Custom radio-checkbox */
.custom-radio { display: inline-block; align-items: center; position: relative; }
.custom-radio + .custom-radio { margin-left: 20px; margin-bottom: 9px; }
.custom-radio .custom-input { position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; z-index: 1; cursor: pointer; opacity: 0;  padding:0;}
.custom-radio .custom-input:checked + span { color: #fff; background-color: #5E3976; }
.custom-radio span { font-size: 16px; line-height: 19px; font-weight: 700; color: #5E3976; border: 1px solid #5E3976; border-radius: 12px; padding: 9px 11px; position: relative; display: block;}
.custom-radio.secondary span { padding: 0 9px; border-radius: 50%; width: auto; max-width: 26px; height: 26px; display: flex; align-items: center; justify-content: center; font-weight: 400; border: 0; }
/*.custom-radio.secondary span {
	padding: 3px 4px;
	border-radius: 50%;
	width: auto;
	max-width: 25px;
	min-width: 25px;
	font-weight: 400;
	border: 0;
	display: block;
	text-align: center;
	}*/
	.custom-radio.secondary + .custom-radio.secondary { margin-left: 20px; }
	.radio-indicators { display: flex; justify-content: space-between; margin-top: 5px; max-width: 482px; }
	.radio-indicators span { color: #8E8E93; font-size: 14px; line-height: 16px; width: 30%; }
	.radio-indicators span:last-child { text-align: right; }

	.custom-radio.rounded span { padding: 0; min-height: 20px; min-width: 20px; border: none; color: #000; padding-left: 25px; font-weight: 400; }
	.custom-radio.rounded span:before { content: ''; position: absolute; height: 20px; width: 20px; background-color: transparent; border-radius: 50%; left: 0; border: 2px solid #373688; }
	.custom-radio.rounded span:after { content: ''; position: absolute; height: 8px; width: 8px; background-color: #fff; transform: scale(0); border-radius: 50%; left: 6px; top: 6px; }
	.custom-radio.rounded .custom-input:checked + span { color: #000; background-color: transparent; border-color: transparent; }
	.custom-radio.rounded .custom-input:checked + span:before { background-color: #373688; }
	.custom-radio.rounded .custom-input:checked + span:after { transform: scale(1); }


	.custom-radio.square span { padding: 0; min-height: 18px; min-width: 18px; border: none; color: #000; padding-left: 25px; font-weight: 400; }
	.custom-radio.square span:before { content: ''; position: absolute; height: 18px; width: 18px; background-color: transparent; border-radius: 3px; left: 0; border: 2px solid #373688; }
	.custom-radio.square span:after { content: ''; position: absolute; height: 9px; width: 12px; background-image: url(./images/tick.svg); background-repeat: no-repeat; background-size: 12px; transform: scale(0); border-radius: 3px; left: 3px; top: 4px; }
	.custom-radio.square .custom-input:checked + span, .custom-radio.square .custom-input:indeterminate + span { color: #000; background-color: transparent; border-color: transparent; }
	.custom-radio.square .custom-input:checked + span:before, .custom-radio.square .custom-input:indeterminate + span:before { background-color: #373688; }
	.custom-radio.square .custom-input:checked + span:after { transform: scale(1); }
	.custom-radio.square .custom-input:indeterminate + span:after { background-image: none; width: 10px; height: 2px; background-color: #fff; transform: scale(1); top: 8px; left: 4px; }



	/* Switch */
	.custom-switch { position: relative; display: inline-block; line-height: 20px; min-height: 18px; }
	.custom-switch input { opacity: 0; width: 100%; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; cursor: pointer; }
	.custom-switch .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #DCDCDC; border-radius: 36px; border: 1px solid #CACACA; width: 33px; height: 18px; }
	.custom-switch .slider:before { position: absolute; content: ""; height: 14px; width: 14px; left: 1px; top: 1px; background-color: #fff; border-radius: 50%; }
	.custom-switch input:checked + .slider { background-color: #373688; }
	.custom-switch input:checked + .slider:before { -webkit-transform: translateX(15px); -ms-transform: translateX(15px); -moz-transform: translateX(15px); -o-transform: translateX(15px); transform: translateX(15px); }


	/* Input & Dropdowns styling */
	.form-control { padding: 7px 12px; border-radius: 8px; border: 1px solid #c4c4c4; color: #000; height: 40px;}
	.form-control:focus { color: #000; border-color: #5F60A9; outline: 0; box-shadow: none; }
	textarea.form-control { height: auto; min-height: 100px; }
	.form-control.custom-dropdown { -webkit-appearance: none; background: url('./images/dropdown-arrow.svg'); background-repeat: no-repeat; background-position: calc(100% - 16px) center; padding-right: 40px; }


	.btn-block.prev-back-btn { display: flex; margin-top: 33px; }
/*.btn-block.prev-back-btn .btn-outline-primary { width: calc(36% - 8px); }
.btn-block.prev-back-btn .btn-primary { width: calc(64% - 8px); }*/
.btn-block.prev-back-btn .btn { min-width: 172px; }
.btn-block.prev-back-btn .btn + .btn { margin-left: 16px; }


/*Buttons*/
/* .btn { border-radius: 12px; font-size: 16px; line-height: 20px; font-weight: 700; padding: 9px 18px; border: 3px solid transparent; position: relative; z-index: 1; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); } */
.btn { height: 40px; border-radius: 12px; font-size: 16px; line-height: 20px; font-weight: 700; padding-top: 8px; padding-bottom: 6px; padding-left: 16px;padding-right: 16px; border: 3px solid transparent; position: relative; z-index: 1; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); }
/* .btn:after { content: ''; position: absolute; z-index: -1; border-radius: 6px; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; } */
/* .btn:hover:after, .btn:focus:after, .btn:active:after { -webkit-transform: scaleX(1); transform: scaleX(1); } */
/* .btn:focus { box-shadow: none !important; } */
.btn.disabled, .btn:disabled { opacity: .50; }
.btn.disabled:after, .btn:disabled:after { display: none; }


/* Primary button */
.btn-primary { background-color: #FF6B38 ; border: 0; overflow: hidden; }
.btn-primary:after { background: #fd7345 ; }
.btn-primary:hover, .btn-primary:focus { color: #fff; background-color: #E65526; border-color: #E65526; }
/* .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle { color: #fff; background-color: #E65526; border-color: #E65526; } */
/* .btn-primary.disabled, .btn-primary:disabled { color: #fff; background-color: #E65526; border-color: #E65526; } */


/* Secondary/outline button */
.btn-outline-primary { color: #FF6B38 ; border-color: #FF6B38 ; background-color: #fff}
.btn-outline-primary:after { background: #FF6B38 ; }
.btn-outline-primary:hover, .btn-outline-primary:focus { color: #E65526; background-color: #EFEFEF ; border-color: #E65526 ; }
/* .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle { color: #fff; background-color: transparent; border-color: #E65526; } */
.btn-outline-primary.disabled, .btn-outline-primary:disabled { color: #FF6B38; border-color: #FF6B38; background-color: transparent; }


/* Light button */
.btn-light { color: #7C5B8C; background-color: #fff; border: 0; overflow: hidden; }
.btn-light:after { background: #e2e6ea; }
.btn-light:hover, .btn-light:focus { color: #7C5B8C; background-color: #fff; border-color: #e2e6ea; }
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle { color: #7C5B8C; background-color: #fff; border-color: #e2e6ea; }
.btn-light.disabled, .btn-light:disabled { color: #7C5B8C; border-color: #fff; background-color: #fff; }

/* Light outline button */
.btn-outline-light { color: #fff; border-color: #fff; }
.btn-outline-light:after { background: #fff; }
.btn-outline-light:hover, .btn-outline-light:focus { color: #7C5B8C; background-color: transparent; border-color: #fff; }
.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle { color: #7C5B8C; background-color: transparent; border-color: #fff; }
.btn-outline-light.disabled, .btn-outline-light:disabled { color: #fff; border-color: #fff; background-color: transparent; }

/* Icon button */
.btn.icon-btn { height: 28px; width: 28px; padding: 0; border-radius: 50%; display: flex; align-items: center; justify-content: center; cursor: pointer; }
.btn.icon-btn:after { background-color: #DEEFF9; transform: scale(0); transform-origin: center; -webkit-transform-origin: center; border-radius: 50%; }
.btn.icon-btn:hover:after, .btn.icon-btn:focus:after { transform: scale(1); }

.btn-link { color: #373688; border-radius: 12px; padding: 3px 5px; text-decoration: none; overflow: hidden; }
.btn-link:after { background-color: #DEEFF9; }
.btn-link:hover, .btn-link:focus { text-decoration: none; }


/* Modal */
.modal.show { display: block; }
.modal-backdrop { display: none; }
.modal-backdrop.show { display: block; }
.modal-body { min-height: 310px; position: relative; padding: 24px 16px 16px; }
.modal-close { position: absolute; right: 11px; top: 11px; }
.modal-content { border-radius: 12px; }
.modal h2 { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 20px; line-height: 26px; color: #373688; margin-bottom: 15px; }




/* Tiles */
.tile { padding: 4px 10px; display: block; max-width: 100%; border-radius: 11px; position: relative; z-index: 1; color: #fff; }
.tile * { color: #fff; }
.tile h2 { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 18px; line-height: 20px; }
.tile h3 { font-size: 16px; line-height: 20px; font-weight: 700; margin-bottom: 3px; }


.tile.type1 { width: 337px; min-height: 212px; background: linear-gradient(79.86deg, #00B7FB 3.18%, #B3EAFF 91.27%); box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25); }
.tile.type1:after { content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; background-image: url(./images/character.svg); background-size: contain; background-repeat: no-repeat; background-position: calc(100% - 9px) calc(100% - 7px); z-index: -1; }
.tile.type1 .tile-content { max-width: 110px; }
.tile.type1 .btns { display: flex; margin-bottom: 7px; }
.tile.type1 .tile-btn { background: transparent; border: 0; padding: 0; cursor: pointer; line-height: 0;outline: none; }
.tile.type1 .tile-btn:hover { opacity: 0.7;  }
.tile.type1 .tile-btn + .tile-btn { margin-left: 6px; }
.tile.type1 p { font-size: 14px; line-height: 16px; }


.tile.type2 { background: linear-gradient(119.88deg, #5F60A9 3.87%, rgba(95, 96, 169, 0.72) 128.77%); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); width: 344px; }
.tile.type2 h2 { display: flex; justify-content: space-between; margin: 2px 0 4px; }
.tile.type2 h2 .chat-img { margin: 3px 25px 0 0; }
.tile .chatbot { display: flex; margin-bottom: 9px; }
.tile .chatbot .dp { width: 47px; min-width: 47px; }
.tile .chatbot .text { padding-left: 0; width: calc(100% - 47px); }
.tile .chatbot .text p { font-weight: 700; font-size: 16px; line-height: 20px; margin: 0; }


.tile.type3 { padding: 8px 10px 45px; width: 165px; background: linear-gradient(103.41deg, #5F60A9 -102.56%, #70BBE6 177.56%); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
.tile.type3:after { content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; background-image: url(./images/docs.svg); background-size: 69px; background-repeat: no-repeat; background-position: calc(100% - 10px) calc(100% + 1px); z-index: -1; }


.tile.type4 { padding: 34px 17px 30px; background: #fff; border-radius: 0; width: 375px; }
.tile.type4 .chat-outer { margin-bottom: 15px; }
.tile.type4 .chat-outer .date { font-size: 14px; line-height: 16px; color: #562A6B; display: block; padding-left: 6px; margin-bottom: 4px; }
.tile.type4 .chat-outer p { background: #E6E6E6; border-radius: 11px; padding: 7px 12px 7px 6px; font-size: 16px; line-height: 20px; color: #562A6B; display: inline-block; margin: 0; }
.tile.type4 .chat-outer.reverse { text-align: right; }
.tile.type4 .chat-outer.reverse .date { padding: 0 3px 0 0; }
.tile.type4 .chat-outer.reverse p { background: #5F60A9; color: #fff; text-align: left; padding: 7px 6px 7px 9px; max-width: 78%; }

.has-form { max-width: 360px; margin: 0 auto; }
.has-form-forms {margin-left: 60px; margin-right: 60px;}

/* 
@media(max-width: 1199px) {
	.container { max-width: 100%; }
}

@media(max-width: 767px) {
	.form-group { margin-bottom: 25px; }
	.custom-radio + .custom-radio { margin-left: 2px; }
}
 */

 .headlinetwo{
	/* font-family: Poppins; */
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
 }



.abc{
	/* padding-left: 7px; */
	font-weight: 100;
	margin-top: 10px;
	font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    color: #000;
  }

  .errorMessage{
    color: #D8000C;
    font-size: smaller;
    padding-left: 9px;
}

.create{
    font-size: 16px;
	padding-right: 50px;
	margin-left: 90px;
}

.HomeList{
    font-size: 16px;
	padding-right: 50px;
}

.logout {
	display: block;
    /* width: 131px; */
    background-color: #FF6B38;
	border-radius: 12px;
    height: 33px;
    font-size: 16px;
    color: white;
	font-weight: 700;
	border-color: #ff6b38;
	box-shadow: none !important;
	border: aliceblue;
	margin-top: 19px; 
	margin-right : 34px;
}
.logout:hover{

	
 color: #fff; 
 background-color: #E65526; 
 transition: 0.3s;
 border-color: #E65526;

}

#tooltip {
	position: absolute;
	color: rgb(15, 14, 14);
	padding: 10px;
	background:rgb(211,211,211);
	border-radius: 2px;
	z-index: 1000;
  }

  .contentSpacing {
height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  


.bodymap{
	padding: 0%;
	
}

.fullbodyfront{
	background:url('./body-front/body-front.png') no-repeat center center;
	background-size: contain;
    padding: 0 0 153.847%;
	position: relative;
	max-width: 600px;
    margin: 0 auto;
}
.fullbodyback{
	background:url('./body-back/body-back.png') no-repeat center center;
	background-size: contain;
    padding: 0 0 153.847%;
	position: relative;
	max-width: 600px;
    margin: 0 auto;
}
.fullbodyfront a, .fullbodyback a{position: absolute; cursor: pointer; opacity: 1;}
.fullbodyfront a:hover, .fullbodyback a:hover{opacity: 1;}
.fullbodyfront a img, .fullbodyback a img{display: block; width: 100%;}


/* Front Body Part */
.right-head-front{right: 49.8%; top: 0.3%; width: 7%;}
.left-head-front{left: 50.2%; top:0.3%; width: 7%;}
.head-front{left: 41.85%; top:5.1%; width: 16.5%;}
.jaw-front{left: 44.2%; top:9.5%; width: 12%;}
.cervical-front{left: 40.4%; top:13.1%; width: 19.5%;}

.right-chest-front{left: 38.01%; top:15.5%; width: 12.167%;}
.left-chest-front{left: 50.2%; top:15.5%; width: 12.167%;}
.right-ribs-front{left: 36.35%; top:24.1%; width: 13.834%;}
.left-ribs-front{left: 50.2%; top:24.1%; width: 13.834%;}
.abdomen-front{left: 36.3%; top:30.2%; width: 27.667%;}

.right-shoulder-front{left: 28.5%; top:16.5%; width: 9.5%;}
.right-upper-arm-front{left: 27%; top:24.1%; width: 9.5%;}
.right-elbow-front{left: 23.4%; top:32.4%; width: 13%;}
.right-forearm-front{left: 21%; top:37.1%; width: 12.5%;}
.right-wrist-front{left: 16.4%; top:46%; width: 11%;}
.right-hand-front{left: 18%; top:49%; width: 7.667%;}
.right-thumb-front{left: 13.9%; top:49%; width: 4.167%;}
.right-fingers-front{left: 14.34%; top:53.2%; width: 10.5%;}

.left-shoulder-front{left: 62.4%; top:16.5%; width: 9.5%;}
.left-upper-arm-front{left: 63.7%; top:24.1%; width: 9.5%;}
.left-elbow-front{left: 63.9%; top:32.4%; width: 13%;}
.left-forearm-front{left: 66.9%; top:37.1%; width: 12.5%;}
.left-wrist-front{left: 73%; top:46%; width: 11%;}
.left-hand-front{left: 74.7%; top:49%; width: 7.667%;}
.left-thumb-front{left: 82.4%; top:49%; width: 4.167%;}
.left-fingers-front{left: 75.5%; top:53.2%; width: 10.5%;}

.right-pelvis-front{left:35.4%; top:41.2%; width: 14.835%;}
.left-pelvis-front{left:50.2%; top:41.2%; width: 14.835%;}
.right-hip-front{left:34.5%; top:46%; width: 15.668%;}
.left-hip-front{left:50.2%; top:46%; width: 15.668%;}

.right-upper-leg-front{left:32.7%; top:51.8%; width: 17.5%;}
.right-knee-front{left:35.7%; top:66.9%; width: 11.667%;}
.right-lower-leg-front{left:35.2%; top:74.5%; width: 12%;}
.right-ankle-front{left:40%; top:92.1%; width: 6.335%;}
.right-foot-front{left:38%; top:95.7%; width: 8.668%;}
.right-toe-front{left:36.1%; top:98%; width:2%;}

.left-upper-leg-front{left:50.2%; top:51.8%; width: 17.5%;}
.left-knee-front{left:53%; top:66.9%; width: 11.667%;}
.left-lower-leg-front{left:53.2%; top:74.5%; width: 12%;}
.left-ankle-front{left:53.9%; top:92.1%; width: 6.5%;}
.left-foot-front{left:53.7%; top:95.7%; width: 8.668%;}
.left-toe-front{left:62.4%; top:98%; width:2%;}


/* Back Body Part */
.right-head-back{left: 50.2%; top: 0.3%; width: 6.834%;}
.left-head-back{left: 43.4%; top:0.3%; width: 6.834%;}
.head-back{left: 42.05%; top:4.1%; width: 16.335%;}
.b-cervical{left: 44.2%; top: 9.4%; width: 12.167%;}
.cervical-back{left: 40.3%; top: 12.9%; width: 20%;}
.cervicothoracic-back{left: 40.3%; top:12.9%; width: 20%;}

.right-thoracic{left: 50.2%; top:15.7%; width: 12.835%;}
.central-thoracic{left: 45.8%; top:23.7%; width: 8.668%;}
.left-thoracic{left: 38%; top:15.7%; width: 12.168%;}
.right-ribs-back{left: 54.5%; top:23.7%; width: 9.5%;}
.left-ribs-back{left: 36.3%; top:23.7%; width: 9.5%;}
.thoracolumbar{left: 36.3%; top:31.5%; width: 27.668%;}
.left-lumbosacral{left: 36%; top:36.8%; width: 14.169%;}
.right-lumbosacral{left: 50.1%; top:36.8%; width: 14%;}

.right-shoulder-back{left: 63%; top:15.7%; width: 8.835%;}
.right-upper-arm-back{left: 64%; top:23.7%; width: 8.835%;}
.right-elbow-back{left: 64%; top:31.5%; width: 12.835%;}
.right-forearm-back{left: 66.7%; top:36.8%; width: 12.335%;}
.right-wrist-back{left: 72.9%; top:45.4%; width: 11.5%;}
.right-hand-back{left: 74.9%; top:49.1%; width: 6.335%;}
.right-fingers-back{left: 75.24%; top:52.3%; width: 11%;}
.right-thumb-back{left: 81.2%; top:49.1%; width: 5.335%;}

.left-shoulder-back{left: 28.5%; top:15.7%; width: 9.5%;}
.left-upper-arm-back{left: 27.5%; top:23.7%; width: 8.835%;}
.left-elbow-back{left: 23.7%; top:31.5%; width: 12.668%;}
.left-forearm-back{left: 21.3%; top:36.8%; width: 12.335%;}
.left-wrist-back{left: 16.1%; top:45.3%; width: 11.5%;}
.left-hand-back{left: 19.2%; top:49.1%; width: 6.335%;}
.left-fingers-back{left: 14.14%; top:52.3%; width: 11%;}
.left-thumb-back{left: 13.85%; top:49.1%; width: 5.335%;}

.right-pelvis-back{left:50.2%; top:42.2%; width: 14.835%;}
.left-pelvis-back{left:35.4%; top:42.2%; width: 14.835%;}
.right-hip-back{left:50.2%; top:47.4%; width: 15.5%;}
.left-hip-back{left:34.8%; top:47.4%; width: 15.5%;}

.right-upper-leg-back{left:50.1%; top:51%; width: 17.335%;}
.right-knee-back{left:53.2%; top:67.7%; width: 11.335%;}
.right-lower-leg-back{left:53.2%; top:74.9%; width: 12%;}
.right-ankle-back{left:53.9%; top:92.3%; width: 6.5%;}
.right-foot-back{left:53.7%; top:96.7%; width: 6.5%;}
.right-toe-back{left:60.1%; top:96.6%; width:4.168%;}

.left-upper-leg-back{left:32.9%; top:51%; width: 17.335%;}
.left-knee-back{left:36%; top:67.7%; width: 11.335%;}
.left-lower-leg-back{left:35.4%; top:74.9%; width: 12%;}
.left-ankle-back{left:40%; top:92.3%; width: 6.5%;}
.left-foot-back{left:40.1%; top:96.7%; width: 6.5%;}
.left-toe-back{left:36%; top:96.6%; width:4.168%;}



.text-center{text-align:center; align-items: center;}
.list-group-item > div{display: flex; justify-content: space-between;}
.list-group-item > div button{display: block; margin-left: 5px; min-width: 28px; cursor: pointer;}


@media(max-width: 1000px) {
	.container { max-width: 100%; }
	.form-group label {padding-left: 7px;margin-top: 10px;font-size: 20px;line-height: 20px;margin-bottom: 0;display: flex;justify-content: space-between;color: black;}
	.head{padding: 0%;margin-left: -33%;}
	.shoulderRegion{padding: 0%;margin-left: -88px;}  
	
	.topheadfront {margin: 0px 0% 0px -33%;}
}

@media(max-width: 767px) {
	#MainDiv {max-width: inherit; margin: 20px;}
	.has-form-forms{margin-left: 0; margin-right: 0; text-align: center;}
	.abc{display: block;}
	.form-group { margin-bottom: 25px; }
	.fullbodyfront, .fullbodyback{padding: 0 0 166.67%; max-width: inherit;}
	#MainDiv .inner-content-wrapper { padding: 0 15px 30px;}
}

@media(max-width: 420px) {	
	.custom-radio.rounded { display: flex; }
	.custom-radio.rounded + .custom-radio.rounded { margin: 16px 0 0; }
	.btn-block.prev-back-btn .btn { min-width: 120px; }
}


#homepageCards {
    padding: 0 16px 16px;
    max-width: 336px;
    margin: 35px auto;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
	border-radius: 22px;
	float: auto;
}

#titleCrds {
	position: absolute;
width: 337.28px;
height: 57.34px;
left: 402.09px;
top: 127px;

background: linear-gradient(89.14deg, #532C6D 7.77%, #64407B 91.15%);
border-radius: 12px;
transform: matrix(1, 0, 0, 1, 0, 0);
}

.todoList{
height: 57.34px;
}



.e-btn-icon.e-image {
	float: right;
    background: url(./UserIco.png);
    width: 29px;
	height: 29px;

}

.corner {
	border-radius: 100%;
  }